# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Ignores snapshots
snapshots/

# Docs
docs/

# Dotenv file
.env

# Benchmark proof data
*.tar.gz
